@model asc_general.Models.our_complex

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_adminlayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>our_complex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.complex_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complex_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edu_or_gym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edu_or_gym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.map_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.map_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region.region1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region.region1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
