@using asc_general.Models
@using PagedList.Mvc
@using PagedList


@{
    ViewBag.Title = "Axtarış";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section searchCss{

    <link href="~/Public/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Public/js/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#searchString").autocomplete({
                source: @Url.Action("Autocomplete","Search"),
                minLength: 2,
                autoFocus: true
            })
        })
    </script>
    <link href="~/Public/css/search.css" rel="stylesheet" />

}


<!--search starts-->
<div class="searching">
    <div class="container">
        <form action="/search/index" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <input id="searchString" name="searchString" type="text" class="form-control" placeholder="Axtar" value=@ViewBag.searchStr>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" value="Submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
                <div class="searchResult">
                    @{
                        if (!String.IsNullOrEmpty(ViewBag.searchStr))
                        {
                            if (ViewBag.ResultCount != 0)
                            {
                                foreach (blog blog in ViewBag.Searching)
                                {
                                    <div class="row single_blog">
                                        <div class="col-md-2 col-sm-3 col-xs-12">
                                            <img src="~/Uploads/@blog.photo" alt="@blog.title" />
                                        </div>
                                        <div class="col-md-10 col-sm-9 col-xs-12">
                                            <div class="blog_title">
                                                <h2><a href=@Url.Action("Index", "SingleBlog", new { id = blog.id })>@blog.title</a></h2>
                                                <p>@blog.text.Substring(0, 80)...</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @Html.PagedListPager((IPagedList)ViewBag.Searching, page => Url.Action("Index", "Search", new { page, searchString = ViewBag.searchStr }))
                            }
                            else
                            {
                                <p class="text-danger">@ViewBag.NoResult</p>
                            }

                        }
                        else
                        {
                            <p class="text-danger">@ViewBag.EmptyString</p>
                        }
                    }
                </div>

            </div>
        </form>
    </div>
</div>
<!--search ends-->
