@model asc_general.Models.gym_blog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admins/Views/Shared/_adminlayout.cshtml";
}

<h2>Edit</h2>

@Html.AntiForgeryToken()
@Html.AntiForgeryToken()
@using (Html.BeginForm("Edit","gym_blog",FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <h4>gym_blog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="image" type="image" src="~/Uploads/@Html.DisplayFor(model => model.photo)" width="100" style="margin-bottom:10px;" />
                <input type="hidden" name="oldfile" value="@Html.DisplayFor(model => model.photo)" />
                @Html.EditorFor(model => model.photo, new { htmlAttributes = new { @class = "form-border", @type = "file" } })
                @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
                @if (ViewBag.Message != null)
                {
                    <p class="text-danger">@ViewBag.Message</p>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.video_url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.video_url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
