@model asc_general.Models.cartoon

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admins/Views/Shared/_adminlayout.cshtml";
}

<h2>Create</h2>


@Html.AntiForgeryToken()
@using (Html.BeginForm("Create",
                                                   "cartoonsCrud",
                                                    FormMethod.Post,
                                                    new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <h4>cartoon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="input-field col s12">
            <div class="file-field">
                <div class="btn">
                    <span>choose file</span>
                    <input type="file" id="photo" name="photo">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="upload photo">
                </div>
               @if (ViewBag.Message != null)
               {
                <p class="text-danger">@ViewBag.Message</p>
               }
            </div>
        </div>
        




        <div class="form-group">
            @Html.LabelFor(model => model.text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.video_url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
