@model IEnumerable<asc_general.Models.cartoon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_adminlayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.text)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.video_url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.photo)" width="100" alt="Image" />
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.text)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.video_url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
  
}

</table>
